{{#if logged_in}}
  <h4 class="welcome">
    Home Dashboard
  </h4>
  <div class="row mb-4 projects tasks-list">
    <div class="col-md-4">
      <div class="row mb-4 home-element">
        <div class="col-md-12">
          <div class="row project-header">
            <div class="col-md-12">
              <h4>
                Tasks completed
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12 tasks-completed">
          {{#if totalTasks}}
            <label>{{totalCompletedTaks}}/{{totalTasks}}</label>
          {{else}}
            <label>0</label>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mb-4 home-element">
        <div class="col-md-12">
          <div class="row project-header">
            <div class="col-md-12">
              <h4>
                Top tasks due soon
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          {{#if tasksDueSoon.length}}
            {{#each tasksDueSoon as |task|}}
              <div class="col-md-12 padding-task">
                <div class="row">
                  <div class="col-md-8 col-sm-8" id={{task.id}}>
                    <i class="fa fa-dot-circle-o fa-1x"></i>
                    <label>{{task.name}} </label>
                  </div>
                  <div class="col-md-4 col-sm-4">{{format_date
                      task.due_date
                    }}</div>
                </div>
              </div>
            {{/each}}
          {{else}}
            <label>You don't have tasks due soon :)</label>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mb-4 home-element">
        <div class="col-md-12">
          <div class="row project-header">
            <div class="col-md-12">
              <h4>
                Project List
              </h4>
            </div>
          </div>
        </div>
<div class="col-md-12">
          {{#if projectList.length}}
            {{#each projectList as |project|}}
              <div class="col-md-12 padding-task">
                <div class="row">
                  <div class="col-md-8 col-sm-8" id={{project.id}}>
                    <i class="fa-solid fa-folder"></i>
                    <label>{{project.name}} </label>
                  </div>
                  <div class="col-md-4 col-sm-4">{{format_date
                      project.due_date
                    }}</div>
                </div>
              </div>
            {{/each}}
          {{else}}
            <label>You don't have Projects due soon :)</label>
          {{/if}}
        </div>
        </div>
    </div>
    <div class="col-md-12 tasks-list">
      <div class="row mb-4 home-element">
        <div class="col-md-12" style="padding-bottom: 15px;">
          <div class="row project-header">
            <div class="col-md-6">
              <h4>
                Task List
              </h4>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <button class="btn btn-primary" type="submit">
                <a href="/newtask">Create task</a>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-12 overflow-scroll">
          {{#each tasks as |task|}}
            <div class="col-md-12 padding-task">
              <div class="row">
                <div
                  class="col-md-10 col-sm-10 priority-{{task.priority}}"
                  id={{task.id}}
                >
                  <input
                    type="checkbox"
                    data-id={{task.id}}
                    data-status={{task.status}}
                    class="check-task"
                    {{task.checked}}
                  />
                  <label>{{task.name}} </label>
                </div>
                <div class="col-md-2 col-sm-2">{{format_date
                    task.due_date
                  }}</div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row mb-4 welcome">
    <div class="col-md-12">
      <h6> Waiting for guru...</h6>
    </div>
  </div>
{{/if}}
<script src="/js/edittask.js"></script>