{{#if logged_in}}
  <h4 class="welcome">
    Home Dashboard
  </h4>
  <div class="row mb-4 projects tasks-list">
    <div class="col-md-4">
      <div class="row mb-4 home-element">
        <div class="col-md-12">
          <div class="row project-header">
            <div class="col-md-12">
              <h4>
                Tasks completed
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mb-4 home-element">
        <div class="col-md-12">
          <div class="row project-header">
            <div class="col-md-12">
              <h4>
                Latest tasks
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mb-4 home-element">
        <div class="col-md-12">
          <div class="row project-header">
            <div class="col-md-12">
              <h4>
                Chart
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12">
        </div>
      </div>
    </div>
    <div class="col-md-12 tasks-list">
      <div class="row mb-4 home-element">
        <div class="col-md-12">
          <div class="row project-header">
            <div class="col-md-12">
              <h4>
                Task List
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          {{#each tasks as |task|}}
            <div class="col-md-12 padding-task">
              <div class="row">
                <div
                  class="col-md-12 priority-{{task.priority}}"
                  id={{task.id}}
                >
                  <input type="checkbox" id={{task.id}} />
                  <label>{{task.name}} - {{format_date task.due_date}}</label>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row mb-4 welcome">
    <div class="col-md-12">
      <h6> Waiting for guru...</h6>
    </div>
  </div>
{{/if}}