{{#if logged_in}}
  <div class="row mb-4 projects">
    {{#each projects as |project|}}
      <div class="col-md-4">
        <div class="row mb-4 project">
          <div class="col-md-12">
            <div class="row project-header">
              <div class="col-md-12">
                <h2>
                  <a href="/project/{{project.id}}">{{project.name}}</a>
                </h2>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p>
              {{project.description}}
            </p>
          </div>
          {{#each project.tasks as |task|}}
            <div class="col-md-12">
              <div class="row project-header">
                <div class="col-md-12">
                  <p>
                    <a href="/task/{{task.id}}">[{{task.status}}]
                      {{task.name}}
                    </a>
                  </p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}